{% extends 'index.html' %}
{% load custom_tags %}
{% block page-title %}
主机详情
{% endblock %}
{% block page-content %}

<div class="row">
     <div class="col-sm-6 col-lg-3">
        <div class="panel" style="height: auto">
            <div class="panel-heading">
                <h3 class="panel-title">主机信息</h3>
            </div>
            <div  class="panel-body " style="overflow: auto" >
                {%for asset in assets%}
                <div class="ibox-content">
                    <table class="table">
                        <tbody>
                        <tr class="no-borders-tr">
                            <td>主机名：</td>
                            <td><b>{{ asset.hostname|default_if_none:"" }}</b></td>
                        </tr>
                        <tr>
                            <td>IP：</td>
                            <td><b>{{ asset.ip|default_if_none:"" }}</b></td>
                        </tr>
                        <tr>
                            <td class="text-navy">其他IP:</td>
                            <td>
                                <table class="table">
                                    {% if asset.other_ip %}
                                        {% for ip in asset.other_ip|ip_str_to_list %}
                                            <tr>
                                                <td>{{ ip|default_if_none:"" }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>port：</td>
                            <td><b>{{ asset.port|default_if_none:"" }}</b></td>
                        </tr>
                        <tr>
                            <td>groups：</td>
                            <td><b>{{ asset.get_groups|default_if_none:"" }}</b></td>
                        </tr>
                        <tr>
                            <td>admin_user：</td>
                            <td><b>{{ asset.admin_user|default_if_none:"" }}</b></td>
                        </tr>
                        <tr>
                            <td>system_users：</td>
                            <td><b>{{ asset.system_users|default_if_none:"" }}</b></td>
                        </tr>
                        <tr>
                            <td>idc：</td>
                            <td><b>{{ asset.idc|default_if_none:"" }}</b></td>
                        </tr>
                        <tr>
                            <td>type：</td>
                            <td><b>{{ asset.type|default_if_none:"" }}</b></td>
                        </tr>
                        <tr>
                            <td>env：</td>
                            <td><b>{{ asset.env|default_if_none:"" }}</b></td>
                        </tr>
                        <tr>
                            <td>status：</td>
                            <td><b>{{ asset.status|default_if_none:"" }}</b></td>
                        </tr>
                        <tr>
                            <td>vendor：</td>
                            <td><b>{{ asset.vendor|default_if_none:"" }}</b></td>
                        </tr>
                        <tr>
                            <td>model：</td>
                            <td><b>{{ asset.model|default_if_none:"" }}</b></td>
                        </tr>
                        <tr>
                            <td>sn：</td>
                            <td><b>{{ asset.sn|default_if_none:"" }}</b></td>
                        </tr>
                        <tr>
                            <td>cpu_model：</td>
                            <td><b>{{ asset.cpu_model|default_if_none:"" }}</b></td>
                        </tr>
                        <tr>
                            <td>cpu_count：</td>
                            <td><b>{{ asset.cpu_count|default_if_none:"" }}</b></td>
                        </tr>
                        <tr>
                            <td>cpu_cores：</td>
                            <td><b>{{ asset.cpu_cores }}</b></td>
                        </tr>
                        <tr>
                            <td>memory：</td>
                            <td><b>{{ asset.memory|default_if_none:"" }}</b></td>
                        </tr>
                        <tr>
                            <td>disk_total：</td>
                            <td><b>{{ asset.disk_total|default_if_none:"" }}</b></td>
                        </tr>
                        <tr>
                            <td>disk_cloud：</td>
                            <td><b>{{ asset.disk_cloud|default_if_none:"" }}</b></td>
                        </tr>
                        <tr>
                            <td>os：</td>
                            <td><b>{{ asset.os|default_if_none:"" }} {{ asset.os_version|default_if_none:"" }}</b></td>
                        </tr>
                        <tr>
                            <td>os_arch：</td>
                            <td><b>{{ asset.os_arch|default_if_none:"" }}</b></td>
                        </tr>
                        <tr>
                            <td>date_created：</td>
                            <td><b>{{ asset.date_created|date:"Y-m-d" }}</b></td>
                        </tr>
                        <tr>
                            <td>comment：</td>
                            <td><b>{{ asset.comment|default_if_none:"" }}</b></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                {%endfor%}
            </div>
        </div>
     </div>

    <div class="col-sm-6 col-lg-9">
        <div class="panel">
             <div class="panel-heading">
                <h3 class="panel-title">主机监控</h3>
            </div>
            <div class="panel-body" >

                {% for host in assets %}
                    {% if host.id == current_host_id %}
                    <div class="row" >
                        <label class="col-md-2 control-label">主机名(IP)</label>
                        <div  class="col-md-9 ">
                            <b>{{ host.hostname }}</b>
                        </div>
                    </div>
                    <div class="row" >
                        <label class="col-md-2 control-label">操作系统</label>
                        <div  class="col-md-9 ">
                            <b>{{ host.system_type }}</b>
                        </div>
                    </div>
                    <div class="row" >
                        <label class="col-md-2 control-label">端口</label>
                        <div  class="col-md-9 ">
                            <b>{{ host.port }}</b>
                        </div>
                    </div>

                    <div class="row" >
                        <label class="col-md-2 control-label">所在机房</label>
                        <div  class="col-md-9 ">
                            <b>{{ host.idc }}</b>
                        </div>
                    </div>
                    <div class="row" >
                        <label class="col-md-2 control-label">主机状态</label>
                        <div  class="col-md-9 ">
                            {% if host.enabled %}
                            <span class="badge badge-success">已启用</span>
                            {% else %}
                            <span class="badge badge-danger">已停用</span>
                            {% endif %}
                        </div>
                    </div>


                    <div class="row" >
                        <label class="col-md-2 control-label">已绑定远程用户信息</label>
                        <div  class="col-md-9 ">
                            {% for bind_host in host.bindhosts_set.select_related %}
                            <div><b>{{ bind_host.host_user.username }}
                                -->属组:{% for group in  bind_host.hostgroups_set.select_related %}
                                    <span class="badge badge-info">{{ group.name }}</span>{% endfor %}</b>
                                {% if not bind_host.enabled %}<span class="badge badge-danger">此账户已禁用</span>{% endif %}
                            </div>

                            {% endfor %}
                        </div>
                    </div>


                    <div class="row" >
                        <hr/>
                        <label class="col-md-2 control-label panel-title">用户访问纪录</label>

                        <table class="table table-hover">
                            <tr>
                                <th>会话ID</th>
                                <th>操作用户</th>
                                <th>远程用户</th>
                                <th>登录日期</th>
                                <th>停留时长</th>
                                <th>命令数</th>
                                <th>状态</th>

                            </tr>
                            {% for log in access_records %}
                            <tr>
                                <td>{{ log.id }}</td>
                                <td data-label="hostname" class="hide" >{{ log.host.host.hostname }}</td>
                                <td>{{ log.user.name }}</td>
                                <td data-label="username">{{ log.bind_host.host_user.username }}</td>
                                <td data-label="login-date">{{ log.date |date:"Y-m-d H:i:s" }}</td>
                                <td ><a href="#" onclick="ShowRecordDetail(this,'{{ log.session.id }}')" class="btn-link">{{ log.cmd_count }}</a></td>
                                {% if log.closed %}
                                    <td ><span class="badge badge-info">已结束</span></td>
                                {% else %}
                                    <td><span class="badge badge-success">连接中</span></td>
                                {% endif %}
                            </tr>
                            {% endfor %}

                        </table>
                        <div class="pagination pull-right ">
                            ffff
                        </div>
                    </div>




                    {% endif %}

                {% endfor %}

            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block bottom-js %}
<script type="text/javascript">

    $(document).ready(function(){

        host_list = {};
        $("#host_list div").children().each(function(index){

          host_list[$(this).attr("host_id")] = $(this).text();
        });

        $("#host_list a[host_id='" + "{{ current_host_id }}" + "']").prependTo("#host_list div");
        console.log($("#host_list active")[0])


    });//end doc ready

    function SearchHost(ele){

        var search_str = $(ele).val()
        var host_list_html ='' ;

        $.each(host_list,function(host_id,val){
            if (val.indexOf(search_str) >-1){
                console.log(val);
                var html_row = "<a class='list-group-item' host_id='" + host_id + "' href='/host/detail/?host_id=" + host_id + "' > " + val + "</a>";
                host_list_html += html_row ;

            }

        });//end each

        $("#host_list").html(host_list_html);
    }


</script>
{% endblock %}



