{% extends 'index.html' %}
{% load custom_tags %}
{% block page-title %}
{% load static %}

主机详情
{% endblock %}
{% block page-content %}

<div class="row">
     <div class="col-sm-6 col-lg-3">
        <div class="panel" style="height: auto">
            <div class="panel-heading">
                <h3 class="panel-title">主机信息</h3>
            </div>
            <div  class="panel-body " style="overflow: auto" >
                {%for asset in assets%}
                <div class="ibox-content">
                    <table class="table">
                        <tbody>
                        <tr class="no-borders-tr">
                            <td>主机名：</td>
                            <td><b>{{ asset.hostname|default_if_none:"" }}</b></td>
                        </tr>
                        <tr>
                            <td>IP：</td>
                            <td><b>{{ asset.ip|default_if_none:"" }}</b></td>
                        </tr>
                        <tr>
                            <td class="text-navy">其他IP:</td>
                            <td>
                                <table class="table">
                                    {% if asset.other_ip %}
                                        {% for ip in asset.other_ip|ip_str_to_list %}
                                            <tr>
                                                <td>{{ ip|default_if_none:"" }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>port：</td>
                            <td><b>{{ asset.port|default_if_none:"" }}</b></td>
                        </tr>
                        <tr>
                            <td>groups：</td>
                            <td><b>{{ asset.get_groups|default_if_none:"" }}</b></td>
                        </tr>
                        <tr>
                            <td>admin_user：</td>
                            <td><b>{{ asset.admin_user|default_if_none:"" }}</b></td>
                        </tr>
                        <tr>
                            <td>system_users：</td>
                            <td><b>{{ asset.system_users|default_if_none:"" }}</b></td>
                        </tr>
                        <tr>
                            <td>idc：</td>
                            <td><b>{{ asset.idc|default_if_none:"" }}</b></td>
                        </tr>
                        <tr>
                            <td>type：</td>
                            <td><b>{{ asset.type|default_if_none:"" }}</b></td>
                        </tr>
                        <tr>
                            <td>env：</td>
                            <td><b>{{ asset.env|default_if_none:"" }}</b></td>
                        </tr>
                        <tr>
                            <td>status：</td>
                            <td><b>{{ asset.status|default_if_none:"" }}</b></td>
                        </tr>
                        <tr>
                            <td>vendor：</td>
                            <td><b>{{ asset.vendor|default_if_none:"" }}</b></td>
                        </tr>
                        <tr>
                            <td>model：</td>
                            <td><b>{{ asset.model|default_if_none:"" }}</b></td>
                        </tr>
                        <tr>
                            <td>sn：</td>
                            <td><b>{{ asset.sn|default_if_none:"" }}</b></td>
                        </tr>
                        <tr>
                            <td>cpu_model：</td>
                            <td><b>{{ asset.cpu_model|default_if_none:"" }}</b></td>
                        </tr>
                        <tr>
                            <td>cpu_count：</td>
                            <td><b>{{ asset.cpu_count|default_if_none:"" }}</b></td>
                        </tr>
                        <tr>
                            <td>cpu_cores：</td>
                            <td><b>{{ asset.cpu_cores }}</b></td>
                        </tr>
                        <tr>
                            <td>memory：</td>
                            <td><b>{{ asset.memory|default_if_none:"" }}</b></td>
                        </tr>
                        <tr>
                            <td>disk_total：</td>
                            <td><b>{{ asset.disk_total|default_if_none:"" }}</b></td>
                        </tr>
                        <tr>
                            <td>disk_cloud：</td>
                            <td><b>{{ asset.disk_cloud|default_if_none:"" }}</b></td>
                        </tr>
                        <tr>
                            <td>os：</td>
                            <td><b>{{ asset.os|default_if_none:"" }} {{ asset.os_version|default_if_none:"" }}</b></td>
                        </tr>
                        <tr>
                            <td>os_arch：</td>
                            <td><b>{{ asset.os_arch|default_if_none:"" }}</b></td>
                        </tr>
                        <tr>
                            <td>date_created：</td>
                            <td><b>{{ asset.date_created|date:"Y-m-d" }}</b></td>
                        </tr>
                        <tr>
                            <td>comment：</td>
                            <td><b>{{ asset.comment|default_if_none:"" }}</b></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                {%endfor%}
            </div>
        </div>
     </div>

    <div class="col-sm-6 col-lg-9">
        <div class="panel">
             <div class="panel-heading">
                <h3 class="panel-title">主机监控</h3>
            </div>
        </div>
        <div class="panel" style="width: auto">
            <div class="col-md-4">
                <div id="cpu" style="width: 300px;height: 300px;"></div>
            </div>
        </div>
        <div class="panel" style="width: auto">
            <div class="col-md-4">
                <div id="mem" style="width: 300px;height: 300px;"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-9">
        <div class="panel" style="left: auto">
            <div class="col-md-4">
                <div id="disk" style="width: 300px;height: 300px;"></div>
            </div>
        </div>
        <div class="panel" style="right: auto">
            <div class="col-md-8">
                <div id="network" style="width: 500px;height: 300px;"></div>
            </div>
        </div>
    </div>
</div>


<script src="{% static 'js/plugins/echarts.min.js' %}"></script>
<script type="text/javascript">

var cpu = echarts.init(document.getElementById('cpu'));
    option = {
        tooltip : {
            formatter: "{a} <br/>{b} : {c}%"
        },
        series: [
            {
                name: 'CPU',
                type: 'gauge',
                detail: {formatter:'{value}%'},
                data: [{value: 45, name: 'CPU'}]
            }
        ]
    };
    cpu.setOption(option);

var mem = echarts.init(document.getElementById('mem'));
    option = {
        tooltip : {
            formatter: "{a} <br/>{b} : {c}%"
        },
        series: [
            {
                name: 'mem',
                type: 'gauge',
                detail: {formatter:'{value}%'},
                data: [{value: 45, name: 'mem'}]
            }
        ]
    };
    mem.setOption(option);


var disk = echarts.init(document.getElementById('disk'));

    option = {
        tooltip : {
            formatter: "{a} <br/>{b} : {c}%"
        },
        series: [
            {
                name: 'mem',
                type: 'gauge',
                detail: {formatter:'{value}%'},
                data: [{value: 200, name: 'disk'}]
            }
        ]
    };
    disk.setOption(option);

var network = echarts.init(document.getElementById('network'));
    option = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross'
            }
        },
        toolbox: {
            show: true,
            feature: {
                saveAsImage: {}
            }
        },
        xAxis:  {
            type: 'category',
            boundaryGap: false,
            data: ['00:00', '01:15', '02:30', '03:45', '05:00', '06:15', '07:30', '08:45', '10:00', '11:15', '12:30', '13:45', '15:00', '16:15', '17:30', '18:45', '20:00', '21:15', '22:30', '23:45']
        },
        yAxis: {
            type: 'value',
            axisLabel: {
                formatter: '{value} K'
            },
            axisPointer: {
                snap: true
            }
        },
        series: [
            {
                type:'line',
                smooth: true,
                data: [300, 280, 250, 260, 270, 300, 550, 500, 400, 390, 380, 390, 400, 500, 600, 750, 800, 700, 600, 400]
            }
        ]
    };

    network.setOption(option);
</script>
{% endblock %}
