{% extends 'index.html' %}
{% load custom_tags %}
{% block page-title %}
操作主机
{% endblock %}

{% block page-content %}
    <div class="row" >
        <div class="col-lg-3" >
             <div class="panel" >
                <div class="pannel-heading">
                    <h3 class="panel-title">主机组</h3>
                </div>
                <div class="pannel-body">
                    <div class="list-group bord-no">

                        {% ifequal selected_g_id '-1' %}
                            <a class="list-group-item active" href="/hosts/?selected_group=-1"><b>最近登录 [{{ recent_logins|length }}]</b></a>
                        {% else %}
                             <a class="list-group-item" href="/hosts/?selected_group=-1">最近登录 [{{ recent_logins|length }}]</a>
                        {% endifequal %}
                        {% ifequal selected_g_id '-2' %}
                            <a class="list-group-item active" href="/hosts/?selected_group=-2"><b>未分组主机 [{{ request.user.bind_hosts.select_related.count }}]</b></a>
                        {% else %}
                             <a class="list-group-item" href="/hosts/?selected_group=-2">未分组主机 [{{ request.user.bind_hosts.select_related.count }}]</a>
                        {% endifequal %}

                        {% for g in request.user.host_groups.select_related %}
                            {% ifequal g.id selected_g_id %}
                                <a class="list-group-item active" href="{% url 'host_list'  %}?selected_group={{g.id}}"><b>{{g.name }} [{{ g.bind_hosts.select_related.count }}]</b></a>
                            {% else %}
                                <a class="list-group-item" href="{% url 'host_list'  %}?selected_group={{g.id}}"><b>{{g.name }} [{{  g.bind_hosts.select_related.count}}]</b></a>
                            {% endifequal %}

                        {% endfor %}
                    </div>
                </div>
             </div>
        </div>

        <div class="col-lg-9" >
             <div class="panel" >
             <div class="panel-heading">
                 <div class="pannel-heading" style="float: left">
                     <h3 class="panel-title">主机列表</h3>
                 </div>
                 <div style="float: right;">
                    <form role="form" method="post">{% csrf_token %}
                        <div class="searchbox panel-heading">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search.." name="ipnmb">
                            <span class="input-group-btn">
                                <button class="text-muted" type="button"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </div>
                    </form>
                 </div>
             </div>
                 <div class="pannel-body" id="asset_form">
                     <div class="list-group" >
                         <div class="table-responsive">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th class="text-center">
                                        <input id="checkall" type="checkbox" class="i-checks" name="checkall" value="checkall" data-editable='false' onclick="check_all('asset_form')">
                                        </th>
                                        <th class="text-center">IP地址</th>
                                        <th class="text-center">主机名</th>
                                        <th class="text-center">机房</th>
                                        <th class="text-center">管理用户</th>
                                        <th class="text-center">系统</th>
                                        <th class="text-center">配置</th>
                                        <th class="text-center">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for g in contacts %}
                                        <tr>
                                            <td class="text-center" name="id" value="{{ g.id }}" data-editable='false'>
                                                <input name="id" value="{{ g.id }}" type="checkbox" class="i-checks">
                                            </td>
                                            <td class="text-center"><a href="{% url 'assets:asset_detail'%}?id={{ g.id}}">{{ g.ip }}</a></td>
                                            <td class="text-center"><a href="{% url 'assets:asset_detail'%}?id={{ g.id}}" class="">{{ g.hostname }}</a></td>
                                            <td class="text-center"><a href="#" class="">{{ g.idc.name }}</a></td>
                                            <td class="text-center"><a class="">{{ g.admin_user }}</a></td>
                                            <td class="text-center"><span class="">{{ g.os }}{{ g.os_version }}</span></td>
                                            <td class="text-center"><span class="">{{ g.cpu_count }}C/{{ g.memory }}G/{{ g.disk_total }}G/{{ g.disk_cloud }}/G</span></td>
                                            <td class="text-center">
                                                <span class="btn btn-success" style="height: 25px;width: 50px"><a href="#">连接</a></span>
                                                <span class="btn btn-danger" style="height: 25px;width: 50px"><a href="{% url 'assets:asset_delete' %}?id={{ g.id }}">删除</a></span>
                                                <span class="btn btn btn-warning" style="height: 25px;width: 50px">更改</span>
                                            </td>
                                        </tr>
                                   {% endfor %}
                                </tbody>
                            </table>
                         </div> <!--end table div-->
                     </div>
                     <div class="col-sm-6">
                        <div class="col-sm-6">
                            <input type="button" id="asset_del" class="btn btn-danger btn-sm" value="批量删除" />
                            <a href="{% url 'assets:asset_create'%}" type="button" class="btn btn-info">添加主机</a>
                        </div>
                     </div>

                 </div>
             </div>

            <!--分页功能 -->
            <div class="panel-heading" style="float: right;">
                <nav>
                    <ul class="pagination">
                        {% if contacts.has_previous %}
                            <li class=""><a href="?page={{ contacts.previous_page_number }}" aria-label="Previous">&laquo;</a></li>
                        {% endif %}
                            {% for page_num in contacts.paginator.page_range %}
                                {% guess_page contacts.number page_num %}
                            {% endfor %}
                        {% if server_cmdb_obj.has_next %}
                            <li class=""><a href="?page={{ contacts.next_page_number }}" aria-label="Next">&raquo;</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>

{% endblock %}

{% block bottom-js %}
<script type="text/javascript" >


</script>

{% endblock %}