{% extends 'index.html' %}
{% load static %}
{% load bootstrap3 %}

{% block page-content %}
    <form action="" method="post" class="form-horizontal">
    {% csrf_token %}
    <h3>基础配置</h3>
    create index welcome!


    <div class="hr-line-dashed"></div>
    <div class="form-group">
        <div class="col-sm-4 col-sm-offset-2">
            <button class="btn btn-default" type="reset"> 重制</button>
            <button id="submit_button" class="btn btn-primary" type="submit">提交</button>
        </div>
    </div>
    </form>
{% endblock %}

{% block custom_foot_js %}
<script>
function format(item) {
   var group = item.element.parentElement.label;
   return group + ':' + item.text;
}

$(document).ready(function () {
    $('.select2').select2({
        allowClear: true
    });
    $(".labels").select2({
        allowClear: true,
        templateSelection: format
    });
})
</script>
{% endblock %}