{% load static %}


	<!--jQuery [ REQUIRED ]-->
	<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>

	<!--BootstrapJS [ RECOMMENDED ]-->
	<script src="{% static 'js/bootstrap.min.js'%}"></script>

	<!--Fast Click [ OPTIONAL ]-->
	<script src="{% static 'js/fastclick.min.js'%}"></script>

	<!--Nifty Admin [ RECOMMENDED ]-->
	<script src="{% static 'js/nifty.min.js' %}"></script>
	<script src="{% static 'plugins/bootstrap-select/bootstrap-select.min.js'%}"></script>
	<script src="{% static 'plugins/js.cookie.js' %}"></script>
	<script src="{% static 'plugins/jquery-ui/jquery-ui.min.js' %}"></script>
	<script src="{% static 'plugins/bootstrap-fileinput/js/fileinput.js' %}"></script>
	<script src="{% static 'plugins/bootstrap-fileinput/js/plugins/canvas-to-blob.js' %}"></script>
	<script src="{% static 'plugins/bootstrap-fileinput/js/fileinput_locale_zh.js' %}"></script>

    <script src="{% static 'plugins/bootstrap-validator/bootstrapValidator.js'%}"></script>
    <script src="{% static 'plugins/highstock/js/highstock.js' %}"></script>
    <script src="{% static 'plugins/highstock/js/modules/exporting.js' %}"></script>

	<!--Bootstrap Timepicker [ OPTIONAL ]-->
	<script src="{% static 'plugins/bootstrap-timepicker/bootstrap-timepicker.min.js' %}"></script>
	<!--Bootstrap Datepicker [ OPTIONAL ]-->
	<script src="{% static 'plugins/bootstrap-datepicker/bootstrap-datepicker.js' %}"></script>


    <script src="{% static 'plugins/dropzone/dropzone_latest.js' %}"></script>

    <script src="{% static 'plugins/jquery-ui/jquery-ui.min.js' %}"></script>