{% load static %}
<div class="navbar-content clearfix">
    <ul class="nav navbar-top-links pull-left">

        <li class="tgl-menu-btn">
            <a class="mainnav-toggle" href="#">
                <i class="fa fa-navicon fa-lg"></i>
            </a>
        </li>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <!--End Navigation toogle button-->

    </ul>
    <ul class="nav navbar-top-links pull-right">

        <!--User dropdown-->
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <li id="dropdown-user" class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle text-right">
                <span class="pull-right">
                    <img class="img-circle img-user media-object" src="{% static 'img/av1.png' %}" alt="Profile Picture">
                </span>
                <div class="username hidden-xs">{{ request.user.userprofile.name }}</div>
            </a>

            <div class="dropdown-menu dropdown-menu-md dropdown-menu-right with-arrow panel-default">
                <!-- User dropdown menu -->
                <ul class="head-list">
                    <li>
                        <a href="{% url 'personal' %}">
                            <i class="fa fa-user fa-fw fa-lg"></i> 个人信息
                        </a>
                    </li>

                </ul>

                <!-- Dropdown footer -->
                <div class="pad-all text-right">
                    <a href="{% url 'logout' %}" class="btn btn-primary">
                        <i class="fa fa-sign-out fa-fw"></i> Logout
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>
